/**
 * AB_directory_list
 * version: 1.0.0
 */

// Global styles

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
	max-width: 100%;
	height: auto;
}

a {
    text-decoration: none;
}

body {
    color: #fff;
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
    padding: 2em;
    background: #333;
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1 {
	margin-top: 0;
	padding-top: 0;
	font-weight: normal;
}

table {
    background-color: #f3f3f3;
    width: 100%;
}

th {
    padding: 5px 0;
    background: #121212;
	text-align: left;
    color: #fff;
	cursor: pointer;

    a {
	    padding-left: 0
	}

    small {
	    font-size: 10px; 
	}

	&:first-of-type {
	    padding-left: 35px;
	}
}

td {
	text-align: left;
	padding: 5px;
	transition: .5s ease all;

	a {
	    color: #fff;
	    display: block;
	    padding: 5px 10px;
	}

	&:first-of-type a {
		background: url(../images/file.png) no-repeat 10px 50%;
		padding-left: 35px;
	}

	&:not(:first-of-type) a {
		background-image: none !important;
	}

	&.folder a {
		background: url(../images/folder.png) no-repeat 10px 50%;
	}
}

tr {
    background: linear-gradient(90deg, #333, #111);
    padding: 5px;

    &:nth-of-type(odd) {
	    background: linear-gradient(90deg, #444, #222);
	}

	&:hover {
	    background: linear-gradient(90deg, #222, #111);

	    a {
		    color: #fff;
		}
	}
}
